Handelling Imbalance datasets
1- Upsampling method
2- Downsampling method

In [2]:
import numpy as np
import pandas as pd

In [3]:
#set the random seed for reproductivity
np.random.seed(123)

#create a DF with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [6]:
pd.concat([class_0,class_1]).reset_index(drop=True)

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

##Upsampling

In [14]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [15]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
##performing Upsampling
from sklearn.utils import resample

In [23]:
df_minority_upsample=resample(df_minority,
                              replace=True,##sample with replacement
                              n_samples=len(df_majority),# to match the majority class
                              random_state=42
                              )

In [26]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [29]:
df_minority_upsample.shape

(900, 3)

In [30]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [32]:
df.upsampled=pd.concat([df_majority,df_minority_upsample])

C:\Users\yuvra\AppData\Local\Temp\ipykernel_5468\1918950280.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.upsampled=pd.concat([df_majority,df_minority_upsample])

In [33]:
df.upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

##Downsampling

In [34]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [36]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [37]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [43]:
df_majority_downsample=resample(df_majority,
                              replace=False,##sample without replacement
                              n_samples=len(df_minority),# to match the minority class
                              random_state=42
                              )

In [44]:
df_majority_downsample.shape

(100, 3)

In [45]:
df=pd.concat([df_minority,df_majority_downsample])

In [46]:
df.value_counts()

feature_1  feature_2  target
-1.969990   0.130563  0         1
 1.866832   2.723282  1         1
 1.621476   1.877267  1         1
 1.628261   1.612792  1         1
 1.641093   2.054318  1         1
                               ..
 0.473474  -0.321933  0         1
 0.497556   1.095855  0         1
 0.519477   1.300336  0         1
 0.528702   1.508257  0         1
 4.799524   3.592020  1         1
Name: count, Length: 200, dtype: int64