1- Nominal/ OHE (one hot encoding)

In [44]:
import seaborn as sns

In [18]:
df=sns.load_dataset('tips')

In [21]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
encoder=OneHotEncoder()

In [30]:
import seaborn as sns
df = sns.load_dataset('tips')

from sklearn.preprocessing import OneHotEncoder

# Select the column 'smoker' and reshape it to be 2D
smoker = df[['smoker']]

# Initialize the OneHotEncoder
encoder = OneHotEncoder()

In [31]:
# Fit and transform the 'smoker' column
encoded_smoker = encoder.fit_transform(smoker)

In [32]:

# Convert the result to an array if needed
encoded_smoker_array = encoded_smoker.toarray()

In [33]:

# If you want to see the encoded DataFrame
encoded_df = pd.DataFrame(encoded_smoker_array, columns=encoder.get_feature_names_out(['smoker']))

encoded_df

     smoker_No  smoker_Yes
0          1.0         0.0
1          1.0         0.0
2          1.0         0.0
3          1.0         0.0
4          1.0         0.0
..         ...         ...
239        1.0         0.0
240        0.0         1.0
241        0.0         1.0
242        1.0         0.0
243        1.0         0.0

[244 rows x 2 columns]

2- Label and Ordinal Encoding

In [51]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [52]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [53]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [54]:
encoder=LabelEncoder()

In [55]:
encoder.fit_transform(df[['color']])

c:\Users\yuvra\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [61]:
##ordinal encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [62]:
#sample df woth ordinal variables/data
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [68]:
#create an instance of the ordinal class
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [70]:
encoder=encoder.fit_transform(df[['size']])

In [71]:
encoder

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [ ]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Sample DataFrame with ordinal variables/data
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

# Create an instance of the OrdinalEncoder class
encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

# Fit and transform the 'size' column
encoded_size = encoder.fit_transform(df[['size']])

# If you want to convert the result to a DataFrame
encoded_df = pd.DataFrame(encoded_size, columns=['size'])

encoded_df

Target Guided Ordinal Encoding

In [74]:
import pandas as pd

In [77]:
df=pd.DataFrame({
    'city': ['NYC','london','paris','tokyo','NYC','paris'],
    'price': [200,150,300,250,180,320]
})

In [78]:
df

     city  price
0     NYC    200
1  london    150
2   paris    300
3   tokyo    250
4     NYC    180
5   paris    320

In [81]:
mean_price=df.groupby('city')['price'].mean()

In [82]:
mean_price

city
NYC       190.0
london    150.0
paris     310.0
tokyo     250.0
Name: price, dtype: float64

In [83]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [84]:
mean_price

{'NYC': 190.0, 'london': 150.0, 'paris': 310.0, 'tokyo': 250.0}

In [86]:
#replace eact city with its mean price
df['city_encoded']=df['city'].map(mean_price)

In [87]:
df

     city  price  city_encoded
0     NYC    200         190.0
1  london    150         150.0
2   paris    300         310.0
3   tokyo    250         250.0
4     NYC    180         190.0
5   paris    320         310.0